<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ballot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Ballot <br><small>A ballot where you can vote for your political candidate to win their respective office.</small></h1>
</div>


<!-- Ballot start -->
<form action='#' th:action="@{/ballot}" th:object="${ballot}" method= "POST">
<div class="container">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
    
    	<!--President / Vice President -->
        <div class="panel panel-default">
            <div class="panel-heading">President / Vice President</div>
            <div class="panel-body">
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" autocomplete="off" th:field="*{candidate.party}" value="Republican" id="President"/> Luke Carter / Kenya Healy <br/>(Republican)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" autocomplete="off" th:field="*{candidate.party}" value="Democrat" id="President"/> Nia Rudd / Alfie-Jay Lester <br/>(Democratic)
                    </label>
                </div>
                <br />
                <br />
            </div>
        </div>
		
    	<!-- United States Senator -->
        <div class="panel panel-default">
            <div class="panel-heading"  id=Senator>United States Senator</div>
            <div class="panel-body">
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" autocomplete="off" th:field="*{candidate.party}" name="Republican" id="Senator1"/> Tahmina Bowler <br/>(Republican)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" autocomplete="off" th:field="*{candidate.party}" name="Democrat" id="Senator1"/> Regina Cruz <br/>(Democratic)
                    </label>
                </div>
                <br />
                <br />
            </div>
        </div>
		
    	<!-- Governor -->
        <div class="panel panel-default">
            <div class="panel-heading" th:id="Governor">Governor</div>
            <div class="panel-body">
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" autocomplete="off" th:field="*{candidate.party}"name="Republican" id="Governor"/> Aidan Webb <br/>(Republican)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" autocomplete="off" th:field="*{candidate.party}"name="Democrat" id="Governor"/> Sabina Richmond <br/>(Democratic)
                    </label>
                </div>
                <br />
                <br />
            </div>
        </div>
		
    	<!-- State Senator, District 2 -->
        <div class="panel panel-default">
            <div class="panel-heading" >State Senator, District 2</div>
            <div class="panel-body">
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" th:field="*{candidate.party}" autocomplete="off" name="Republican" id="Senator2"/> Ameer Rankin <br/>(Republican)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" th:field="*{party}"autocomplete="off" name="Democrat" id="Senator2"/> Kelsea Kirby <br/>(Democratic)
                    </label>
                </div>
                <br />
                <br />
            </div>
        </div>
		
    	<!-- District Attorney -->
        <div class="panel panel-default">
            <div class="panel-heading"th:id="*{District}">District Attorney</div>
            <div class="panel-body">
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" autocomplete="off" th:field="*{candidate.party}" name="Republican" id="District Attorney"/> Gloria Perez <br/>(Republican)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" autocomplete="off" th:field="*{candidate.party}" name="Democart" id="District Attorney"/> Kian Chung <br/>(Democratic)
                    </label>
                </div>
                <br />
                <br />
            </div>
        </div>
        
    	<!-- Attorney General -->
        <div class="panel panel-default">
            <div class="panel-heading">Attorney General</div>
            <div class="panel-body">
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" autocomplete="off" name="Republican" th:field="*{candidate.party}" id="ATT General"/> Ellie-Mae Prince <br/>(Republican)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" autocomplete="off" name="Democart" th:field="*{candidate.party}" id="ATT General"/> Hugh Edmonds <br/>(Democratic)
                    </label>
                </div>
                <br />
                <br />
            </div>
        </div>
        
    	<!-- Treasurer -->
        <div class="panel panel-default">
            <div class="panel-heading" >Treasurer</div>
            <div class="panel-body">
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" autocomplete="off" th:field="*{candidate.party}" name="Republican" id="Treasurer"/> Alasdair Ochoa <br/>(Republican)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" autocomplete="off" th:field="*{candidate.party}" name="Democart" id="Treasurer"/> Kimberly Chamberlain <br/>(Democratic)
                    </label>
                </div>
                <br />
                <br />
            </div>
        </div>
        <div>
			<label class="btn btn-default" style="width: 150px">
				<input type="Submit" value="Submit"/>
			</label>
		</div>
		</div>
		</div>
		</form>
		
		
<!-- you need to include the shieldui css and js assets in order for the components to work -->
<link rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $('#rate1').shieldRating({
            max: 7,
            step: 0.1,
            value: 0,
            markPreset: false
        });

        $('#rate2').shieldRating({
            max: 7,
            step: 0.1,
            value: 0,
            markPreset: false
        });

        $('#rate3').shieldRating({
            max: 7,
            step: 0.1,
            value: 0,
            markPreset: false
        });

        var progress1 = $("#progress1").shieldProgressBar({
            value: 50,
            text: {
                enabled: true,
                template: "{0} %"
            }
        }).swidget();

        var progress2 = $("#progress2").shieldProgressBar({
            value: 50,
            text: {
                enabled: true,
                template: "{0} %"
            }
        }).swidget();

        var progress3 = $("#progress3").shieldProgressBar({
            value: 50,
            text: {
                enabled: true,
                template: "{0} %"
            }
        }).swidget();


        $("#increase1").shieldButton({
            events: {
                click: function () {
                    progress1.value(progress1.value() + 10);
                }
            }
        });
        $("#decrease1").shieldButton({
            events: {
                click: function () {
                    progress1.value(progress1.value() - 10);
                }
            }
        });

        $("#increase2").shieldButton({
            events: {
                click: function () {
                    progress2.value(progress2.value() + 10);
                }
            }
        });
        $("#decrease2").shieldButton({
            events: {
                click: function () {
                    progress2.value(progress2.value() - 10);
                }
            }
        });

        $("#increase3").shieldButton({
            events: {
                click: function () {
                    progress3.value(progress3.value() + 10);
                }
            }
        });
        $("#decrease3").shieldButton({
            events: {
                click: function () {
                    progress3.value(progress3.value() - 10);
                }
            }
        });
    });
</script>

<style>
    .slider {
        width: 100%;
    }
</style>

<!-- Survey - END -->

</div>

</body>
</html>