<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ballot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>

 <span>[[${#request.remoteUser}]]</span>
          
<div class="container">

<div class="page-header">
    <h1>Ballot <br><small>A ballot where you can vote for your political candidate to win their respective office.</small></h1>
</div>


<!-- Ballot start -->
<form action='#' th:action="@{/ballot}" th:object="${ballot}" method= "POST">
<div class="container">

    <div class="col-md-2"></div>
    <div class="col-md-8">
    
    	<!--President / Vice President -->
        <div class="panel panel-default">
            <div class="panel-heading">President</div>
            <div class="panel-body">
            
            Please select your candidates for President and Vice President.<br /><select
            name="candidate">
            <option
            th:each="can : ${T(com.group100.VotingApp.enums.CandidateName).values()}"
            th:value="${can}" th:text="${can.candidateName}"></option>
            </select> <br /> <br />
            <input type="hidden" th:text="President / Vice-President" th:attr="name='office'">
             </div>      
               
</div>
        	<br />
        	<br /><input type="submit" value="Continue Ballot" />
        	</div>
        	</div>
        	</form>
		
    	
		
<!-- you need to include the shieldui css and js assets in order for the components to work --><script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $('#rate1').shieldRating({
            max: 7,
            step: 0.1,
            value: 0,
            markPreset: false
        });

        $('#rate2').shieldRating({
            max: 7,
            step: 0.1,
            value: 0,
            markPreset: false
        });

        $('#rate3').shieldRating({
            max: 7,
            step: 0.1,
            value: 0,
            markPreset: false
        });

        var progress1 = $("#progress1").shieldProgressBar({
            value: 50,
            text: {
                enabled: true,
                template: "{0} %"
            }
        }).swidget();

        var progress2 = $("#progress2").shieldProgressBar({
            value: 50,
            text: {
                enabled: true,
                template: "{0} %"
            }
        }).swidget();

        var progress3 = $("#progress3").shieldProgressBar({
            value: 50,
            text: {
                enabled: true,
                template: "{0} %"
            }
        }).swidget();


        $("#increase1").shieldButton({
            events: {
                click: function () {
                    progress1.value(progress1.value() + 10);
                }
            }
        });
        $("#decrease1").shieldButton({
            events: {
                click: function () {
                    progress1.value(progress1.value() - 10);
                }
            }
        });

        $("#increase2").shieldButton({
            events: {
                click: function () {
                    progress2.value(progress2.value() + 10);
                }
            }
        });
        $("#decrease2").shieldButton({
            events: {
                click: function () {
                    progress2.value(progress2.value() - 10);
                }
            }
        });

        $("#increase3").shieldButton({
            events: {
                click: function () {
                    progress3.value(progress3.value() + 10);
                }
            }
        });
        $("#decrease3").shieldButton({
            events: {
                click: function () {
                    progress3.value(progress3.value() - 10);
                }
            }
        });
    });
</script>

<style>
    .slider {
        width: 100%;
    }
</style>

<!-- Survey - END -->

</div>

</body>
</html>