<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Political Survey</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<style>
.slider {
	width: 100%;
}
</style>
</head>
<body>

	<div class="container">

		<div class="page-header">
			<h1>
				Political Survey<br> <small>A survey to match your
					political beliefs with your political party.</small>
			</h1>
		</div>


<!-- Survey start -->
<form th:action="@{/makesurvey0}" th:object="${issue}" method="POST">
			<div class="container">
				<div class="col-md-2"></div>
				<div class="col-md-8">

		<!--Criminal Issues -->
		<div class="panel panel-default">
			<div class="panel-heading">Criminal Issues</div>
			<div class="panel-body">

				Should funding for local police departments be redirected to
				social and community based programs? <br /> <select
					name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}"></option>
				</select> <br /> <br />
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).CRIMINAL}"> 
				Should police departments be allowed to use
				military grade equipment? <br />
				<select name="opinion">
						<option
							th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
							th:value="${op}" th:text="${op.opinion}"></option>
					</select>
					<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).CRIMINAL}"> 
				<br /> <br /> Should convicted criminals have the right to
				vote? <br />
				<select name="opinion">
						<option
							th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
							th:value="${op}" th:text="${op.opinion}"></option>
					</select>
					<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).CRIMINAL}"> 
				<br /> <br />
			</div>
		</div>

		<!--Education Issues-->
		<div class="panel panel-default">
			<div class="panel-heading">Education Issues</div>
			<div class="panel-body">
				Do you support increasing taxes for the rich in order to reduce
				interest rates for student loans? <br />
				<div class="btn-group" data-toggle="buttons">
					<select name="opinion">
						<option
							th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
							th:value="${op}" th:text="${op.opinion}"></option>
					</select>
					<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).EDUCATION}"> 
				</div>
				<br /> <br /> Should the federal government pay for tuition at
				four-year colleges and universities? <br />
				<select name="opinion">
						<option
							th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
							th:value="${op}" th:text="${op.opinion}"></option>
					</select>
						<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).EDUCATION}"> 
				<br /> <br /> Should critical race theory be taught in K-12
				education? <br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
					<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).EDUCATION}"> 
				</div>
				<br /> <br />
			</div>
			
		<!--Enviormental Issues-->
		<div class="panel panel-default">
			<div class="panel-heading">Enviormental Issues</div>
			<div class="panel-body">
				Should the government increase environmental regulations to prevent climate change?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
					<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).ENVIRONMENTAL}"> 
				<br />
				<br />

				Should the federal government pay for tuition at four-year colleges and universities?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).ENVIRONMENTAL}"> 
				<br />
				<br />
				
				Should the federal government fund Universal preschool?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).ENVIRONMENTAL}"> 
				<br />
				<br />
			</div>
		</div>
		
		<!--Electoral Issues-->
		<div class="panel panel-default">
			<div class="panel-heading">Electoral Issues</div>
			<div class="panel-body">
				Should the electoral college be abolished?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).ELECTORAL}"> 
				<br />
				<br />

				Should foreigners, currently residing in the United States, have the right to vote?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).ELECTORAL}"> 
				<br />
				<br />
				
				Should a photo ID be required to vote?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).ELECTORAL}"> 
				<br />
				<br />
			</div>
		</div>
		
		<!--Domestic Policy Issues-->
		<div class="panel panel-default">
			<div class="panel-heading">Domestic Policy Issues</div>
			<div class="panel-body">
				Should there be more restrictions on the current process of purchasing a gun?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).DOMESTIC}"> 
				<br />
				<br />

				Should teachers be allowed to carry guns at school?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).DOMESTIC}"> 
				<br />
				<br />
				
				Should it be illegal to burn the American flag?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).DOMESTIC}"> 
				<br />
				<br />
			</div>
		</div>

		<!--Foreign Policy Issues-->
		<div class="panel panel-default">
			<div class="panel-heading">Foreign Policy Issues</div>
			<div class="panel-body">
				Should the government increase military spending?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).FOREIGN}"> 
				<br />
				<br />

				Should the U.S. accept refugees from Syria?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).FOREIGN}"> 
				<br />
				<br />
				
				Should the military be allowed to use enhanced interrogation techniques, such as waterboarding, to gain information from suspected terrorists?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).FOREIGN}"> 
				<br />
				<br />
			</div>
		</div>
		
		<!--Social Issues-->
		<div class="panel panel-default">
			<div class="panel-heading">Social Issues</div>
			<div class="panel-body">
				Should the government continue to fund Planned Parenthood?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).SOCIAL}"> 
				<br />
				<br />

				Should abortion be outlawed?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).SOCIAL}"> 
				<br />
				<br />
				
				Should a business be able to deny service to a customer if the request conflicts with the owner’s religious beliefs?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).SOCIAL}"> 
				<br />
				<br />
		</div>
		</div>

		<!--Healthcare Issues-->
		<div class="panel panel-default">
			<div class="panel-heading">Healthcare Issues</div>
			<div class="panel-body">
				Should the federal government increase funding of health care for low income individuals (Medicaid)?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).HEALTH}"> 
				<br />
				<br />

				Should the government help fund the World Health Organization?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).HEALTH}"> 
				<br />
				<br />	
				Should people be required to work in order to receive Medicaid?
				<br />
				<select name="opinion">
					<option
						th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
						th:value="${op}" th:text="${op.opinion}">
					</option>
				</select>
				<input type="hidden" th:value= "${T(com.group100.VotingApp.enums.Topic).HEALTH}"> 
				<br />
				<br />
			</div>
		</div>
				<br />
				<br /> <input type="submit" value="Continue Survey" />
				</div>
			</div>
</form>





		<!-- you need to include the shieldui css and js assets in order for the components to work -->

		<script type="text/javascript"
			src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

		<script type="text/javascript">
	
    jQuery(function ($) {
        $('#rate1').shieldRating({
            max: 7,
            step: 0.1,
            value: 0,
            markPreset: false
        });

        $('#rate2').shieldRating({
            max: 7,
            step: 0.1,
            value: 0,
            markPreset: false
        });

        $('#rate3').shieldRating({
            max: 7,
            step: 0.1,
            value: 0,
            markPreset: false
        });

        var progress1 = $("#progress1").shieldProgressBar({
            value: 50,
            text: {
                enabled: true,
                template: "{0} %"
            }
        }).swidget();

        var progress2 = $("#progress2").shieldProgressBar({
            value: 50,
            text: {
                enabled: true,
                template: "{0} %"
            }
        }).swidget();

        var progress3 = $("#progress3").shieldProgressBar({
            value: 50,
            text: {
                enabled: true,
                template: "{0} %"
            }
        }).swidget();


        $("#increase1").shieldButton({
            events: {
                click: function () {
                    progress1.value(progress1.value() + 10);
                }
            }
        });
        $("#decrease1").shieldButton({
            events: {
                click: function () {
                    progress1.value(progress1.value() - 10);
                }
            }
        });

        $("#increase2").shieldButton({
            events: {
                click: function () {
                    progress2.value(progress2.value() + 10);
                }
            }
        });
        $("#decrease2").shieldButton({
            events: {
                click: function () {
                    progress2.value(progress2.value() - 10);
                }
            }
        });

        $("#increase3").shieldButton({
            events: {
                click: function () {
                    progress3.value(progress3.value() + 10);
                }
            }
        });
        $("#decrease3").shieldButton({
            events: {
                click: function () {
                    progress3.value(progress3.value() - 10);
                }
            }
        });
    });
</script>
		<!-- Survey - END -->

	</div>

</body>
</html>