<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Political Survey</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<style>
.slider {
	width: 100%;
}
</style>
</head>
<body>

	 <a href="/user">[[${#request.remoteUser}]]</a>

	<div class="container">

		<div class="page-header">
			<h1>
				Political Survey<br> <small>A survey to match your
					political beliefs with your political party.</small>
			</h1>
		</div>


		<!-- Survey start -->
		<form th:action="@{/survey0}" th:object="${survey}" method="POST">
			<div class="container">
				<div class="col-md-2"></div>
				<div class="col-md-8">

					<!--Criminal Issues -->
					<div class="panel panel-default">
						<div class="panel-heading">Criminal Issues</div>
						<div class="panel-body">

							Should funding for local police departments be redirected to
							social and community based programs? <br /> <select
								name="opinion">
								<option
									th:each="op : ${T(com.group100.VotingApp.enums.Opinion).values()}"
									th:value="${op}" th:text="${op.opinion}"></option>
							</select> <br /> <br /> <input type="hidden"
								th:value="${T(com.group100.VotingApp.enums.Topic).CRIMINAL}"
								th:attr="name='topic'">
						</div>
					</div>


					<br /> <br /> <input type="submit" value="Continue Survey" />
				</div>
			</div>
		</form>
		<!-- Survey - END -->

	</div>

</body>
</html>