<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
	href="vendors/owl-carousel/css/owl.carousel.min.css">
<link rel="stylesheet"
	href="vendors/owl-carousel/css/owl.theme.default.css">
<link rel="stylesheet"
	href="vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="vendors/aos/css/aos.css">
<link rel="stylesheet" href="css/style.min.css">
</head>
<body>
	<header id="header-section">
		<nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
			<div class="container">
				<div class="navbar-brand-wrapper d-flex w-100">
					<img src="images/Ballot.jpg" alt="">
					<button class="navbar-toggler ml-auto" type="button"
						data-toggle="collapse" data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="mdi mdi-menu navbar-toggler-icon"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse navbar-menu-wrapper"
					id="navbarSupportedContent">
					<ul
						class="navbar-nav align-items-lg-center align-items-start ml-auto">
						<li
							class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
							<div class="navbar-collapse-logo">
								<img src="images/Group2.svg" alt="">
							</div>
							<button class="navbar-toggler close-button" type="button"
								data-toggle="collapse" data-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
							</button>
						</li>
						<li class="nav-item"><a class="nav-link" href="Home.html">Home
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link"
							href="candidate.html">Candidates</a></li>
						<li class="nav-item"><a class="nav-link" href="about.html">About</a>
						</li>
						<li class="nav-item btn-contact-us pl-4 pl-lg-0"><a
							 onclick="window.location.href='contact.html';" class="btn btn-info" data-toggle="modal">Contact
								Us </a></li>

						<li><a href="Login.html">Login</a><br> <a
							href="Registration.html">Register</a></li>
					</ul>
				</div>
			</div>
		</nav>
		</header>
		<div class="options">
			<div class="text-center">
				<button onclick="window.location.href='survey.html';"
					style="width: 200px; height: 200px;">Survey</button>
				<br>
				<a>    </a>
				<br>
				<button onclick="window.location.href='ballot.html';"
					style="width: 200px; height: 200px;" >Ballot</button>
			</div>
			</div>
</body>
</html>